* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
body h1 {
  color: rgb(174, 25, 124);
}

ul {
  list-style: none;
}

ul li {
  padding: 5px;
  background: #f4f4f4;
  margin: 5px 0;
}

header {
  background: #f4f4f4;
  padding: 1rem;
  text-align: center;
}
header h1 {
  color: rgb(6, 6, 193);
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.container {
  margin: auto;
  width: 500px;

  padding: 3rem 2rem;
}

#my-form {
  padding: 2rem;
  background: #f4f4f4;
}

#my-form label {
  display: block;
}

#my-form input[type='text'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.btn {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  background: rgb(53, 186, 100);
  color: #fff;
  border-radius: 5px;
  margin: 5px 0;
}

.btn-edit {
  border: 2px solid rgb(47, 134, 255);
  font-size: 16px;
  padding:1.7px;
}
.btn-delete {
  border: 2px solid red;
  font-size: 16px;
  padding:1.7px;
}
.bg-dark {
  background: #333;
  color: #fff;
}
.bg-light {
  background: lightblue;
  color: goldenrod;
}
.bg-light-1 {
  background: silver;
  color: rgb(6, 6, 193);
}

.error {
  background: rgb(243, 71, 86);
  color: #fff;
  padding: 5px;
  margin: 5px;
}
